body {background-color: #FAF6F2;}
    hr {
      border-style: dotted;
      border-bottom: none;
      border-color: #43455C;
      width: 10%;
      border-width: 10px;}

    h1 {
        color: #43455c;
    }
    h3 {
        color:#555759;
    }




  
/******
      #F6F6F6
      #D8CFDO
      #FAF6F2
      #43455C
      #D49E8D
***/
